
<div class="main">

    <h1>MYLOGO.COM</h1>
    <hr>
    
    <h2>PORTFOLIO</h2>
    
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('nature')"> Nature</button>
      <button class="btn" onclick="filterSelection('cars')"> Cars</button>
      <button class="btn" onclick="filterSelection('people')"> People</button>
    </div>
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
    
      <div class="column nature">
        <div class="content">
          <img src="https://www.w3schools.com/w3images/mountains.jpg" alt="Mountains" style="width:100%">
          <h4>Mountains</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column nature">
        <div class="content">
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">
          <h4>Lights</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column nature">
        <div class="content">
        <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Nature" style="width:100%">
          <h4>Forest</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      
      <div class="column cars">
        <div class="content">
          <img src="https://www.w3schools.com/w3images/cars1.jpg" alt="Car" style="width:100%">
          <h4>Retro</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column cars">
        <div class="content">
        <img src="https://www.w3schools.com/w3images/cars2.jpg" alt="Car" style="width:100%">
          <h4>Fast</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column cars">
        <div class="content">
        <img src="https://www.w3schools.com/w3images/cars3.jpg" alt="Car" style="width:100%">
          <h4>Classic</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
    
      <div class="column people">
        <div class="content">
          <img src="https://www.w3schools.com/w3images/people1.jpg" alt="Car" style="width:100%">
          <h4>Girl</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column people">
        <div class="content">
        <img src="https://www.w3schools.com/w3images/people2.jpg" alt="Car" style="width:100%">
          <h4>Man</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column people">
        <div class="content">
        <img src="https://www.w3schools.com/w3images/people3.jpg" alt="Car" style="width:100%">
          <h4>Woman</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <!-- END MAIN -->
    </div>
    