<span>
    
    <ul >
        <li><button routerLink="/login" >Login</button></li>
        <li><button routerLink="/portfolio" >Portfolio</button></li>
        <li><button routerLink="/register" >Register</button></li>
        <li><button routerLink="/fireworks" >fireworks</button></li>
    </ul>
</span>
<router-outlet></router-outlet>