
ul{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}
li{
    list-style-type: none;
    font: 18px;
  

}
button{
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 7px;
    border-color: white;

}