
<div class="container-fluid">
  <div class="row">
      <div class="col-md-4 col-md-offset-4 col-centered">
          <div class="login-panel">
              <h4 class="login-panel-title">Sitename</h4>
              <p class="login-panel-tagline">Sitename helps you connect and share with the people in your life.</p>
              <div class="login-panel-section">
                  <div class="form-group">
                      <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                          <input class="form-control" type="text" placeholder="Email address">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                          <input class="form-control" type="password" placeholder="Password">
                      </div>
                  </div>
                  <div class="checkbox checkbox-circle checkbox-success checkbox-small">
                      <input type="checkbox" id="checkbox1">
                      <label for="checkbox1">Keep me logged in</label>
                      <a href="#" class="pull-right">Forget your password?</a>
                  </div>
              </div>
              <div class="login-panel-section">
                  <button type="submit" class="btn btn-default"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</button> | <a href="#">Create Your Account</a>
              </div>
          </div>
      </div>
    </div>
  </div>